body {
	background-color: black;
}

#container {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -400px;
}

#console {
	background-color: black;
	font-family: monospace;
	font-size: 17px;
	color: white;
	margin: 0 auto;
	overflow: auto;
	height: 400px;
	width: 800px;
}

#console p {
	color: white;
	display: none;
	font-size: 17px;
	font-family: monospace;
	font-size: 17px;
}

#arrested {
	display: none;
	height: 500px;
	width: 1000px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -500px;
	margin-top: -250px;
	font-size: 30px;
	padding-top: 175px;
	color: white;
}

#command_line {
	display: none;
}

input {
	background-color: black;
	color: white;
	border: 1px solid #333;
	font-family: monospace, Times, serif;
	font-size: 17px;
}
input:focus {
	outline: none;
}